  body {
    overflow-x: hidden;
  }

  .cornflowerblue {
    background-color: cornflowerblue;
    color: #fff;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  /*
   * Sidebar   start
   */

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }

  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }

  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }

  .sidebar .nav-link.active {
    color: #007bff;
  }

  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }

  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  /*
   * Sidebar   end --------------
   */

  /*
   * Navbar start
   */

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }

  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }

  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }

  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  .form-required {
    margin-left: 5px;
    color: red;
  }

  .bank-Form {
    margin-left: 1rem;
  }

  .tbody {
    margin-right: -15px;
    margin-left: -0px;
  }

  tr:nth-child(odd) .col-md-1 {
    background: rgb(255 215 185);
  }

  .thead .tr {
    min-height: 65px;
    border-bottom: 5px solid #ffffff;
    flex-wrap: nowrap;
    margin-bottom: 5px;
  }

  .thead .tr .col-md-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    max-width: 150px;
    margin-right: 15px;
  }

  .thead .tr .col-md-9 {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    border-radius: 3px;
  }

  .thead .tr .col-md-9,
  .thead .tr .col-md-10,
  .thead .tr .col-md-11,
  .thead .tr .col-md-12 {
    list-style: none;
    padding: 10px 15px;
    color: #000000;
    font-weight: 600;
    border: 2px solid #025f70;
    border-radius: 5px;
  }

  .thead .tr .readonly {
    background: darkgray;
  }

  /*
   * Navbar end
   */
  /* -------------------------------- */

  /*
   * custom
  */

  .hidden {
    display: none;
  }

  .show {
    display: block;
  }

  .addSection {
    position: absolute;
    top: 20px;
    left: 30px;
  }

  #giftContainer,
  #promoContainer {
    padding-top: 60px;
    width: 100%;
  }

  .remove {
    position: absolute;
    right: 45px;
    border-radius: 10px;
  }

  .gift,
  .promo {
    margin-bottom: 20px;
  }

  .gift h5 {
    margin-bottom: 15px;
  }

  .detail {
    margin-bottom: 15px;
  }

  #detailed .btn-danger,
  #detailedNotice .btn-danger,
  #promoContainer .btn-danger {
    position: absolute;
    width: 45px;
    height: 45px;
    right: 15px;
    border-radius: 10px;
  }


  .readonly {
    background-color: darkgray !important;
  }

  .liLocked {
    pointer-events: none;
  }